.low-power {
  background-color: #00853f;
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 30px;
  border: solid black 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 2em;
  font-family: Helvetica;
}

.medium-power {
  background-color: #f3ec19;
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 30px;
  border: solid black 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 2em;
  font-family: Helvetica;

}

.high-power {
  background-color: #cc0000;
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 30px;
  border: solid black 30px;
  border-radius: 15px;
  text-align: center;
  font-size:2em;
  font-family: Helvetica;
}

#temperature {
  font-size: 3em;
}

.widget {
  font-size: 1em;
}

/*#city {
  position: block;
}*/

.buttons {
  border-radius: 5px;
  border: solid 2px black;
  background-color: #828a87;
  height: 50px;
  width: 150px;
  margin: auto;
  text-align: center;
  display: inline;

}

#powersave {
  border-radius: 5px;
  border: solid 2px black;
  background-color: #828a87;
  height: 50px;
  width: 150px;
  margin: auto;
  text-align: center;
  display: inline;
}
